<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/masonry/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <style>
    .card {
      margin-bottom: 20px;
    }

    .card-link {
      text-decoration: none;
    }

    .btn.btn-link {
      padding: 0 10px 0 0;
      text-decoration: none;
    }
  </style>
  <title>產品</title>
</head>

<body>
  <div class="container">
    <%- include('template/_nav', {action: `product/${rId}`}) %>
      <br class="my-5">
      <br class="my-5">
      <br class="my-5">

      <div id="data-area" class="row grid" data-masonry='{ "percentPosition": true, "itemSelector": ".grid-item" }'>
        <% for(var item of data) { %>
          <div
            class="grid-item col-12 col-offset-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-3">
            <div class="card">
              <img src="/public/assets/placeholder.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">
                  <%=item.pName%>
                </h5>
                <p class="card-text">
                  <b>$<%=item.unitPrice%></b>
                </p>
                <div class="input-group">
                  <input id="count-<%=item.pId%>" type="number" min="1" class="form-control" placeholder="購買數量" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button onclick="addToCart('<%=item.pId%>')" class="btn btn-sm btn-outline-secondary" type="button" id="button-addon2">加入</button>
                </div>

                <!-- <label for="count-<%=item.pId%>">購買數量</label>
                <input type="number" class="form-control" name="count-<%=item.pId%>" id="count-<%=item.pId%>">

                <br>
                <div>
                  <button onclick="addToCart(this, '<%=item.pId%>')" class="btn btn-primary">Add to cart</button>
                </div>
                <span></span> -->
              </div>
            </div>
          </div>
          <% } %>
      </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script async="" src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
  integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
<script>
  async function addToCart(pId) {
    const countInput = document.getElementById(`count-${pId}`)
    const count = countInput.value
    if (count === '') {
      alert('請輸入數量')
      return
    }

    const url = `/api/cart/add/${pId}/${count}`
    console.log(url)
    const res = await fetch(url, options)
    const json = await res.json()
    console.log(json)
    if (json.result === 'ok') {
      countInput.className = 'form-control is-valid'
      setTimeout(() => {
        countInput.className = 'form-control'
      }, 2000)
    } else {
      countInput.className = 'form-control is-invalid'
      if (json.error) {
        alert(json.error)
      }
    }
  }
</script>
<script>

  const render = (json) => {
    var $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
      columnWidth: '.grid-item',
      stagger: 100,
      gutter: 0,
      percentPosition: true
    })

    var $items = $('.grid-item')
    $grid.masonry('remove', $items)
      .masonry('layout')

    const html = json.map(renderCard).join('')

    var $items = $(html)
    $grid.append($items)
      .masonry('appended', $items)

  }

  const renderCard = (item) => {
    return `
    <div class="grid-item col-12 col-offset-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-3">
      <div class="card">
        <img src="/public/assets/placeholder.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">${item.pName}</h5>
          <p class="card-text"><b>$${item.unitPrice}</b></p>
          <div class="input-group">
            <input id="count-${item.pId}" type="number" min="0" class="form-control" placeholder="購買數量" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button onclick="addToCart(this, '${item.pId}')" class="btn btn-sm btn-outline-secondary" type="button" id="button-addon2">加入</button>
          </div>
        </div>
      </div>
    </div>
    `
  }
</script>
<!-- <script>
  setTimeout(function () {
    var $grid = $('.row').masonry({
      itemSelector: 'none',
      columnWidth: '.grid-item',
      stagger: 100,
    });
    // reset itemSelector
    $grid.masonry('option', {
      itemSelector: '.grid-item'
    });
    var $items = $grid.find('.grid-item');
    $grid.masonry('appended', $items);
  }, 1000)
</script> -->

</html>