<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <!-- <link rel="stylesheet" href="/css/login.css" type="text/css"> -->
  <style>
    .container {
      margin-right: auto;
      margin-left: auto;
      max-width: 512px;
    }
  </style>
  <title>會員註冊</title>
</head>

<body>
  <div class="container">
    <div class="py-5 text-center">
      <h2>Register</h2>
    </div>
    <form id="form" action="/submit" method="post" class="needs-validation">
      <!-- <div class="form-group mb-3">
        <label for="email">Email address</label>
        <input value="<%= data.email %>"  type="email" class="form-control<%= (invaild.email) ? ' is-invalid' : '' %>" id="email"  aria-describedby="emailHelp"
          placeholder="Enter email">
        <div class="invalid-feedback">
          Account already existed.
        </div>
      </div> -->
      <div class="input-group mb-3 position-relative">
        <input id="email" name="email" type="email" value="<%= data.email %>" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="checkUsernameIsVaild()">Check</button>
        <div class="invalid-feedback">
          Account already existed.
        </div>
      </div>
      <div class="form-group mb-3 position-relative">
        <label for="password1">Password</label>
        <input value="<%= data.password %>" type="password" class="form-control" name="password" id="password1" placeholder="Password">
      </div>
      <div class="form-group mb-3 position-relative">
        <label for="password2">Re-enter Password</label>
        <input value="<%= data.password %>" type="password" class="form-control" id="password2" placeholder="Password">
        <div class="invalid-feedback">
          Password unmatch.
        </div>
      </div>
      <div class="form-group mb-3 position-relative">
        <label for="name">Name</label>
        <input value="<%= data.name %>" type="text" class="form-control" name="name" id="name" placeholder="Name">
      </div>
      <div class="form-group mb-3 position-relative">
        <label for="birthday">Birthday</label>
        <input value="<%= data.birthday %>" type="date" class="form-control" name="birthday" id="birthday" placeholder="Birthday">
      </div>
      <div class="form-group mb-3 position-relative">
        <label for="address">Address</label>
        <input value="<%= data.address %>" type="address" class="form-control" id="address" placeholder="Address">
        <div class="invalid-feedback">
          Please provide a vaild address.
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
    <script>
      var passwordInput = document.getElementById('password1')
      var passwordConfirm = document.getElementById('password2')
      passwordConfirm.addEventListener('keyup', (e) => {
        if (passwordInput.value != passwordConfirm.value) {
          passwordConfirm.className = 'form-control is-invalid'
        } else {
          passwordConfirm.className = 'form-control is-valid'
        }
      });

      //address欄位的判斷
        const addressInput = document.getElementById('address');
        const form = document.getElementById('form');
        // 即時檢查
        addressInput.addEventListener('keyup', (e) => {
          if (addressInput.value.trim() === "") {
            addressInput.className = 'form-control is-invalid';
            //e.preventDefault(); // 阻止提交
          } else {
            addressInput.className = 'form-control is-valid';
          }
        });
        // 提交時檢查
        form.addEventListener('submit', (e) => {
          if (addressInput.value.trim() === "") {
            addressInput.className = 'form-control is-invalid';
            e.preventDefault(); // 阻止提交
          } else {
            addressInput.className = 'form-control is-valid';
          }
        });

      const options = {
        credentials: "include"
      }

      const checkUsernameIsVaild = async () => {
        const emailInput = document.getElementById('email')
        const url = `/api/email_validation/${emailInput.value}`
        const res = await fetch(url, options)
        const json = await res.json()
        if (json.result === 'ok') {
          emailInput.className = 'form-control is-valid'
        } else {
          emailInput.className = 'form-control is-invalid'
        }
      }
    </script>
</body>

</html>