<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <title>Restaurant</title>
</head>
<body>
  <div class="container">
    <%-include('../template/_nav', {action: 'restaurant'})%>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Region</th>
            <th>Address</th>
            <th></th>
          </tr>
        </thead>
        <!-- data area -->
        <tbody id="restaurant-data-area">
          <% for (const item of data) { %>
            <tr>
              <td><%=item.rName%></td>
              <td><%=item.rRegion%></td>
              <td><%=item.address%></td>
              <th><a href="/product/<%=item.rId%>">GO</a></th>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
    <script>
      const render = (json) => {
        const data_area = document.getElementById('restaurant-data-area')
        let html = ''
        for (const item of json) {
          html += renderTableRow(item)
        }
        data_area.innerHTML = html
      }

      const renderTableRow = (item) => {
        return `
        <tr>
          <td>${item.rName}</td>
          <td>${item.rRegion}</td>
          <td>${item.address ?? ''}</td>
          <th><a href="/product/${item.rId}">GO</a></th>
        </tr>
        `
      }
    </script>
</body>
</html>